<div class="container">
    <h1>New Tweet</h1>
    <%= form_with model: @tweet do |f| %>
        <%= f.text_field :body, placeholder:'comparte tu estado', class: 'form-control' %>
        <%= f.text_field :hashtags, placeholder:'hashtags', class: 'form-control' %>
        <%= f.submit "Guardar", class: 'btn btn-primary' %>
        <% end %>
</div>